h1{
    text-align: center;
}
.rojo{
    border: 10px solid firebrick;
    /* background-color: firebrick; */
    
}
.rosa{
    border: 10px dashed hotpink;
    /* background-color: hotpink; */
}

.amarillo{
    border: 10px double gold;
    /* background-color: gold; */
}
.azul{
    border: 10px dotted turquoise;
    /* background-color: turquoise; */
}
