h1{
    text-align: center;
}
.rojo{
    background-color: firebrick;
    
}
.rosa{
    background-color: hotpink;
}
.violeta{
    background-color: blueviolet;
}
.amarillo{
    background-color: gold;
}
.verde{
    background-color: lime;
}
.azul{
    background-color: turquoise;
}
.rojo, .rosa, .amarillo, .violeta, .verde, .azul{
    color: white;
}