h1, div, p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    /* Realiza un salto de linea */
    display: block;

    /* Acomoda todo en una sola linea */
    /* display: inline; */
}
span{
    /* Cambias el valor por defecto inline a block */
    display: block;
    
}
a{
    /* cambias el valor */
    display: block;
}
li{
    display: inline;
}