h1{
    text-align: center;
    color: #e6394e;
}
div{
    /* padding var1 = (superior e inferior) var2= (Izquierda y derecha) */
    padding: 10px 5px;
    border: 15px solid #454545;
    margin: 20px;
    background-color: #f1faee;
    /* Ancho */
    width: 300px;
    outline: 10px solid #a8dadc;
    outline-offset: 10px;
}